<div class = "container">
  <div class = "row">
    <h2 class= "bg-light mb-5">ジャンル編集</h2>
  </div>


  <%= form_with model: @genre, url:admin_genre_path do |f| %>
    <div class="row">
      <label for ="genre_name" >ジャンル名</label><br>
      <%= f.text_field :name, auotfocus: true, id: "genre_name", class: " ml-5" %>
      <%= f.submit "変更を保存", class: "btn btn-success btn-ml ml-5" %>
    </div>
  <% end %>
</div>